<div class="character-card">
  <img class="character-image" [src]="character.image" alt="Character Name" />
  <div class="character-info">
    <h2 class="character-name">{{ character.name }}</h2>
    <p><strong>Status:</strong> {{ character.status }}</p>
    <p><strong>Species:</strong> {{ character.species }}</p>
    <p><strong>Gender:</strong> {{ character.gender }}</p>
    <p><strong>Type:</strong> {{ character.type || " N/A " }}</p>
    <p><strong>Location:</strong> {{ character.location.name }}</p>
  </div>
</div>
